.contact {
  padding-bottom: 80px;
  background: #fff;
}

.contact-map-img {
  width: 1190px;
  height: 349px;
  background: #ddd;
  display: block;
}

.contact-map-address {
  margin-top: 15px;
  font-family: 'Microsoft YaHei';
  font-size: 18px;
  color: #323a45;
  text-align: center;
}

.contact-service {
  margin-top: 50px;
  padding-left: 60px;
  text-align: center;
}

.contact-service-item {
  height: 47px;
  margin-right: 110px;
  line-height: 47px;
  font-family: 'Microsoft YaHei';
  font-size: 14px;
  color: #323a45;
}

.contact-service-item-icon {
  width: 47px;
  height: 47px;
  margin-right: 16px;
  background-image: url(../../images/global.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.contact-service-item-icon-tel {
  background-position: 0px -158px;
}

.contact-service-item-icon-fax {
  background-position: -54px -158px;
}

.contact-service-item-icon-mobile {
  background-position: -109px -158px;
}

.contact-service-item-icon-email {
  background-position: -163px -158px;
}

.contact-btns {
  margin-top: 73px;
  text-align: center;
}

.contact-btn {
  width: 78px;
  height: 30px;
  margin: 0px 10px;
  padding-right: 30px;
  background: #5c5c5c;
  line-height: 30px;
  font-family: 'Microsoft YaHei';
  font-size: 12px;
  color: #fff;
  display: inline-block;
  position: relative;
  *display: inline;
  *zoom: 1;
}

.contact-btn-icon {
  top: 7px;
  right: 7px;
  width: 16px;
  height: 16px;
  background-image: url(../../images/global.png);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
}

.contact-btn-icon-message {
  background-position: -127px -34px;
}

.contact-btn-icon-map {
  background-position: -153px -34px;
}