.about {
  padding-bottom: 50px;
  background: #fff;
}

.about-top {
	width: 1190px;
	height: 275px;
	border-bottom: 2px solid #d8dedb;
}

.about-img {
	width: 100%;
	height: 100%;
	background: #ddd;
	display: block;
}

.about-con {
	height: 286px;
	margin: 0px 30px;
	padding-top: 60px;
	background: url(../../images/con-bg.png) 100% 100% no-repeat;
}

.about-con p {
	line-height: 30px;
	font-family: 'Microsoft YaHei';
	font-size: 14px;
	color: #000;
}