<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/index/main.css">
  <script src="../../closure-library/closure/goog/base.js"></script>
  <script src="../workdeps.js"></script>
</head>

<body>
  <!-- {$head} -->
  <!-- {$gallery} -->
  <div class="container">
    <div class="wrap">
      <div class="tga3c-top">
        <div class="tga3c-top-left">
          <a href="#" class="tga3c-top-import" target="_blank">
            <img src="http://placehold.it/747x299" alt="">
          </a>
          <span class="tga3c-top-split"></span>
          <a href="#" class="tga3c-top-import" target="_blank">
            <img src="http://placehold.it/747x299" alt="">
          </a>
        </div>
        <div class="tga3c-top-right tga3c-top-rank">
          <div class="tga3c-top-rank-title">
            <img src="http://placehold.it/250x99" alt="">
          </div>
          <ul>
            <li class="tga3c-top-rank-item">
              <a href="#" target="_blank">
                <img src="http://placehold.it/250x100" alt="">
              </a>
            </li>
            <li class="tga3c-top-rank-item">
              <a href="#" target="_blank">
                <img src="http://placehold.it/250x100" alt="">
              </a>
            </li>
            <li class="tga3c-top-rank-item">
              <a href="#" target="_blank">
                <img src="http://placehold.it/250x100" alt="">
              </a>
            </li>
            <li class="tga3c-top-rank-item">
              <a href="#" target="_blank">
                <img src="http://placehold.it/250x100" alt="">
              </a>
            </li>
            <li class="tga3c-top-rank-item">
              <a href="#" target="_blank">
                <img src="http://placehold.it/250x100" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tga3c-list">
        <ul>
          <li class="tga3c-list-item">
            <a href="#">
              <img src="http://placehold.it/249x314" alt="">
              <span class="tga3c-list-item-title"><h2>商品名称的范德萨发生随碟附送的商品名称的范德萨发生随碟附送的</h2><i class="tga3c-list-item-arrow"></i></span>
            </a>
          </li>
          <li class="tga3c-list-item">
            <a href="#">
              <img src="http://placehold.it/249x314" alt="">
              <span class="tga3c-list-item-title"><h2>商品名称的范德萨发生随碟附送的</h2><i class="tga3c-list-item-arrow"></i></span>
            </a>
          </li>
          <li class="tga3c-list-item">
            <a href="#">
              <img src="http://placehold.it/249x314" alt="">
              <span class="tga3c-list-item-title"><h2>商品名称的范德萨发生随碟附送的</h2><i class="tga3c-list-item-arrow"></i></span>
            </a>
          </li>
          <li class="tga3c-list-item">
            <a href="#">
              <img src="http://placehold.it/249x314" alt="">
              <span class="tga3c-list-item-title"><h2>商品名称的范德萨发生随碟附送的</h2><i class="tga3c-list-item-arrow"></i></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="tga3c-list">
        <ul>
          <li class="tga3c-list-item">
            <a href="#">
              <img src="http://placehold.it/249x314" alt="">
              <span class="tga3c-list-item-title"><h2>商品名称的范德萨发生随碟附送的</h2><i class="tga3c-list-item-arrow"></i></span>
            </a>
          </li>
          <li class="tga3c-list-item">
            <a href="#">
              <img src="http://placehold.it/249x314" alt="">
              <span class="tga3c-list-item-title"><h2>商品名称的范德萨发生随碟附送的</h2><i class="tga3c-list-item-arrow"></i></span>
            </a>
          </li>
          <li class="tga3c-list-item">
            <a href="#">
              <img src="http://placehold.it/249x314" alt="">
              <span class="tga3c-list-item-title"><h2>商品名称的范德萨发生随碟附送的</h2><i class="tga3c-list-item-arrow"></i></span>
            </a>
          </li>
          <li class="tga3c-list-item">
            <a href="#">
              <img src="http://placehold.it/249x314" alt="">
              <span class="tga3c-list-item-title"><h2>商品名称的范德萨发生随碟附送的</h2><i class="tga3c-list-item-arrow"></i></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="tga3c-list">
        <ul>
          <li class="tga3c-list-item">
            <a href="#">
              <img src="http://placehold.it/249x314" alt="">
              <span class="tga3c-list-item-title"><h2>商品名称的范德萨发生随碟附送的</h2><i class="tga3c-list-item-arrow"></i></span>
            </a>
          </li>
          <li class="tga3c-list-item">
            <a href="#">
              <img src="http://placehold.it/249x314" alt="">
              <span class="tga3c-list-item-title"><h2>商品名称的范德萨发生随碟附送的</h2><i class="tga3c-list-item-arrow"></i></span>
            </a>
          </li>
          <li class="tga3c-list-item">
            <a href="#">
              <img src="http://placehold.it/249x314" alt="">
              <span class="tga3c-list-item-title"><h2>商品名称的范德萨发生随碟附送的</h2><i class="tga3c-list-item-arrow"></i></span>
            </a>
          </li>
          <li class="tga3c-list-item">
            <a href="#">
              <img src="http://placehold.it/249x314" alt="">
              <span class="tga3c-list-item-title"><h2>商品名称的范德萨发生随碟附送的</h2><i class="tga3c-list-item-arrow"></i></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="tga3c-list">
        <ul>
          <li class="tga3c-list-item tga3c-list-item-import">
            <a href="#">
              <img src="http://placehold.it/748x358" alt="">
            </a>
          </li>
          <li class="tga3c-list-item">
            <a href="#">
              <img src="http://placehold.it/249x314" alt="">
              <span class="tga3c-list-item-title"><h2>商品名称的范德萨发生随碟附送的</h2><i class="tga3c-list-item-arrow"></i></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="tga3c-list">
        <ul>
          <li class="tga3c-list-item">
            <a href="#">
              <img src="http://placehold.it/249x314" alt="">
              <span class="tga3c-list-item-title"><h2>商品名称的范德萨发生随碟附送的</h2><i class="tga3c-list-item-arrow"></i></span>
            </a>
          </li>
          <li class="tga3c-list-item">
            <a href="#">
              <img src="http://placehold.it/249x314" alt="">
              <span class="tga3c-list-item-title"><h2>商品名称的范德萨发生随碟附送的</h2><i class="tga3c-list-item-arrow"></i></span>
            </a>
          </li>
          <li class="tga3c-list-item">
            <a href="#">
              <img src="http://placehold.it/249x314" alt="">
              <span class="tga3c-list-item-title"><h2>商品名称的范德萨发生随碟附送的</h2><i class="tga3c-list-item-arrow"></i></span>
            </a>
          </li>
          <li class="tga3c-list-item">
            <a href="#">
              <img src="http://placehold.it/249x314" alt="">
              <span class="tga3c-list-item-title"><h2>商品名称的范德萨发生随碟附送的</h2><i class="tga3c-list-item-arrow"></i></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="tga3c-list">
        <ul>
          <li class="tga3c-list-item">
            <a href="#">
              <img src="http://placehold.it/249x314" alt="">
              <span class="tga3c-list-item-title"><h2>商品名称的范德萨发生随碟附送的</h2><i class="tga3c-list-item-arrow"></i></span>
            </a>
          </li>
          <li class="tga3c-list-item">
            <a href="#">
              <img src="http://placehold.it/249x314" alt="">
              <span class="tga3c-list-item-title"><h2>商品名称的范德萨发生随碟附送的</h2><i class="tga3c-list-item-arrow"></i></span>
            </a>
          </li>
          <li class="tga3c-list-item">
            <a href="#">
              <img src="http://placehold.it/249x314" alt="">
              <span class="tga3c-list-item-title"><h2>商品名称的范德萨发生随碟附送的</h2><i class="tga3c-list-item-arrow"></i></span>
            </a>
          </li>
          <li class="tga3c-list-item">
            <a href="#">
              <img src="http://placehold.it/249x314" alt="">
              <span class="tga3c-list-item-title"><h2>商品名称的范德萨发生随碟附送的</h2><i class="tga3c-list-item-arrow"></i></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="tga3c-bottom">
        <a href="http://tianmism.tmall.com/" class="tga3c-bottom-item" target="_blank"><img src="images/tianmao.jpg" alt=""></a>
        <a href="http://tga3c.jd.com/" class="tga3c-bottom-item" target="_blank"><img src="images/jingdong.jpg" alt=""></a>
        <a href="http://omg.plu.cn" class="tga3c-bottom-item" target="_blank"><img src="images/omg.jpg" alt=""></a>
        <a href="http://clothes.plu.cn" class="tga3c-bottom-item" target="_blank"><img src="images/lol.jpg" alt=""></a>
      </div>
    </div>
  </div>
  <!-- {$foot} -->
  
  <script src="js/index/main.js"></script>
</body>

</html>