<div class="tga3c-gallery" id="gallery">
  <div class="tga3c-gallery-container">
    <ul>
      <li class="tag3c-gallery-item">
        <a href="#" target="_blank">
          <img src="http://placehold.it/1920x420" class="tga3c-gallery-item-img">
        </a>
      </li>
      <li class="tag3c-gallery-item">
        <a href="#" target="_blank">
          <img src="http://placehold.it/1920x420/df23de" class="tga3c-gallery-item-img">
        </a>
      </li>
      <li class="tag3c-gallery-item">
        <a href="#" target="_blank">
          <img src="http://placehold.it/1920x420/3d6ca3" class="tga3c-gallery-item-img">
        </a>
      </li>
      <li class="tag3c-gallery-item">
        <a href="#" target="_blank">
          <img src="http://placehold.it/1920x420" class="tga3c-gallery-item-img">
        </a>
      </li>
      <li class="tag3c-gallery-item">
        <a href="#" target="_blank">
          <img src="http://placehold.it/1920x420/df23de" class="tga3c-gallery-item-img">
        </a>
      </li>
    </ul>
  </div>
  <div class="tag3c-gallery-controls">
    <ul>
      <li class="tga3c-gallery-control tga3c-gallery-control-sel">•</li>
      <li class="tga3c-gallery-control">•</li>
      <li class="tga3c-gallery-control">•</li>
      <li class="tga3c-gallery-control">•</li>
      <li class="tga3c-gallery-control">•</li>
    </ul>
  </div>
</div>