<div class="tga3c-topbar">
  <div class="wrap">
    <a href="http://tga3c.plu.cn" class="tga3c-topbar-logo"><h1 class="tga3c-topbar-h1">TGA数码商城</h1></a>
    <ul class="tga3c-topbar-navs">
      <li class="tga3c-topbar-nav tga3c-topbar-nav-sel">
        <a href="#" class="tga3c-topbar-nav-text">首页</a>
      </li>
      <li class="tga3c-topbar-nav">
        <a href="#" class="tga3c-topbar-nav-text">耳机</a>
        <ul class="tga3c-topbar-nav-menu">
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-sort" target="_blank">蓝牙耳机</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-sort" target="_blank">无线耳机</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-sort" target="_blank">有线耳机</a>
          </li>
          <li class="tga3c-topbar-nav-menu-split"></li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-brand" target="_blank">硕美科</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-brand" target="_blank">耳机品牌</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-brand" target="_blank">耳机品牌</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-brand" target="_blank">耳机品牌</a>
          </li>
        </ul>
      </li>
      <li class="tga3c-topbar-nav">
        <a href="#" class="tga3c-topbar-nav-text">鼠标</a>
        <ul class="tga3c-topbar-nav-menu">
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-sort" target="_blank">蓝牙鼠标</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-sort" target="_blank">无线鼠标</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-sort" target="_blank">有线鼠标</a>
          </li>
          <li class="tga3c-topbar-nav-menu-split"></li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-brand" target="_blank">硕美科</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-brand" target="_blank">鼠标品牌</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-brand" target="_blank">鼠标品牌</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-brand" target="_blank">鼠标品牌</a>
          </li>
        </ul>
      </li>
      <li class="tga3c-topbar-nav">
        <a href="#" class="tga3c-topbar-nav-text">键盘</a>
        <ul class="tga3c-topbar-nav-menu">
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-sort" target="_blank">蓝牙键盘</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-sort" target="_blank">无线键盘</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-sort" target="_blank">有线键盘</a>
          </li>
          <li class="tga3c-topbar-nav-menu-split"></li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-brand" target="_blank">硕美科</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-brand" target="_blank">键盘品牌</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-brand" target="_blank">键盘品牌</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-brand" target="_blank">键盘品牌</a>
          </li>
        </ul>
      </li>
      <li class="tga3c-topbar-nav">
        <a href="#" class="tga3c-topbar-nav-text">套装</a>
        <ul class="tga3c-topbar-nav-menu">
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-sort" target="_blank">蓝牙套装</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-sort" target="_blank">无线套装</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-sort" target="_blank">有线套装</a>
          </li>
          <li class="tga3c-topbar-nav-menu-split"></li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-brand" target="_blank">硕美科</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-brand" target="_blank">套装品牌</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-brand" target="_blank">套装品牌</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-brand" target="_blank">套装品牌</a>
          </li>
        </ul>
      </li>
      <li class="tga3c-topbar-nav">
        <a href="#" class="tga3c-topbar-nav-text">周边</a>
      </li>
      <li class="tga3c-topbar-nav">
        <a href="#" class="tga3c-topbar-nav-text">服饰</a>
        <ul class="tga3c-topbar-nav-menu">
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-sort" target="_blank">男性服饰</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-sort" target="_blank">女性服饰</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-sort" target="_blank">情侣服饰</a>
          </li>
          <li class="tga3c-topbar-nav-menu-split"></li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-brand" target="_blank">硕美科</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-brand" target="_blank">服饰品牌</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-brand" target="_blank">服饰品牌</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-brand" target="_blank">服饰品牌</a>
          </li>
        </ul>
      </li>
      <li class="tga3c-topbar-nav">
        <a href="#" class="tga3c-topbar-nav-text">店铺</a>
        <ul class="tga3c-topbar-nav-menu">
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-sort" target="_blank">天猫旗舰店</a>
          </li>
          <li class="tga3c-topbar-nav-menu-item">
            <a href="#" class="tga3c-topbar-nav-menu-item-sort" target="_blank">京东旗舰店</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>