<div class="foot">
  <div class="wrap">
    <div class="foot-inner">
      <div class="foot-links">
        <dl>
          <dt>城市新房</dt>
          <dd>
            <ul>
              <li><a href="#" class="foot-link" target="_blank">上海新房</a></li>
              <li><a href="#" class="foot-link" target="_blank">上海新房</a></li>
              <li><a href="#" class="foot-link" target="_blank">上海新房</a></li>
              <li><a href="#" class="foot-link" target="_blank">上海新房</a></li>
            </ul>
          </dd>
          <dd>
            <ul>
              <li><a href="#" class="foot-link" target="_blank">上海新房</a></li>
              <li><a href="#" class="foot-link" target="_blank">上海新房</a></li>
              <li><a href="#" class="foot-link" target="_blank">上海新房</a></li>
              <li><a href="#" class="foot-link" target="_blank">上海新房</a></li>
            </ul>
          </dd>
          <dd>
            <ul>
              <li><a href="#" class="foot-link" target="_blank">上海新房</a></li>
              <li><a href="#" class="foot-link" target="_blank">上海新房</a></li>
              <li><a href="#" class="foot-link" target="_blank">上海新房</a></li>
              <li><a href="#" class="foot-link" target="_blank">上海新房</a></li>
            </ul>
          </dd>
          <dd>
            <ul>
              <li><a href="#" class="foot-link" target="_blank">上海新房</a></li>
              <li><a href="#" class="foot-link" target="_blank">上海新房</a></li>
              <li><a href="#" class="foot-link" target="_blank">上海新房</a></li>
              <li><a href="#" class="foot-link" target="_blank">上海新房</a></li>
            </ul>
          </dd>
          <dd>
            <ul>
              <li><a href="#" class="foot-link" target="_blank">上海新房</a></li>
              <li><a href="#" class="foot-link" target="_blank">上海新房</a></li>
              <li><a href="#" class="foot-link" target="_blank">上海新房</a></li>
              <li><a href="#" class="foot-link" target="_blank">上海新房</a></li>
            </ul>
          </dd>
        </dl>
      </div>
      <div class="foot-info">
        <p class="foot-info-copyright">上海熙城商务咨询有限公司 Copyright @2009-2015 All Right Resered  沪ICP备10214271号-2</p>
        <ul class="foot-info-list">
          <li class="foot-info-list-item"><a href="#" target="_blank"><img src="images/foot-item-1.jpg" alt=""></a></li>
          <li class="foot-info-list-item"><a href="#" target="_blank"><img src="images/foot-item-2.jpg" alt=""></a></li>
          <li class="foot-info-list-item"><a href="#" target="_blank"><img src="images/foot-item-3.jpg" alt=""></a></li>
          <li class="foot-info-list-item"><a href="#" target="_blank"><img src="images/foot-item-4.jpg" alt=""></a></li>
          <li class="foot-info-list-item"><a href="#" target="_blank"><img src="images/foot-item-5.jpg" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>